{% extends 'base.html' %}

{% block title %}
<title>Book Detail</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/book_detail.css">
{% endblock %}

{% block body %}
    <div class="book-detail">
        <div class="book-detail-img">
                <img src="https://covers.openlibrary.org/b/ISBN/{{ book.isbn }}-M.jpg" alt="book">
        </div>
        <div class="book-details">
            <div class="book-detail-content">
                <span><i><b>Title</b></i> - {{ book.title }}</span>
                <span><i><b>ISBN</b></i> - {{ book.isbn }}</span>
                <span><i><b>Author</b></i> - {{ book.author }}</span>
                <span><i><b>Year</b></i> - {{ book.year }}</span>
                <span><i><b>Total rating count</b></i> - {{ book.no_of_ratings }}</span>
                <span><i><b>Average rating</b></i> - {{ book.avg_rating }}</span>
            </div>

            <div id="user-input">
                <form action="{{ url_for('book.book_review', book_isbn=book.isbn) }}" method="POST" class="book-form">
                    <div id="user-input-rating">
                        <span>Please give your rating:-</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                    <div id="user-input-review">
                        <span class="rating-text">Please give your review:-</span>
                        <textarea name="review" rows="4" cols="50"></textarea>
                        <div class="submit-button">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}