<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/base.css">
    <link rel="icon" href="static/favicon.png" type="image/png">
    {% block title %}
    {% endblock %}
</head>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="static/logo.png" width="180" height="40" class="d-inline-block align-top" >
      </a>
    </nav>
    {% block body %}
    {% endblock %}
</html>